@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #171c27, #1f2c40);
  color: #fff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-glow {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #00c9ff, #92fe9d);
  filter: blur(100px);
  opacity: 0.3;
  z-index: 0;
}

.weather-wrapper {
  z-index: 2;
  width: 90%;
  max-width: 420px;
}

.weather-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 30px 25px;
  text-align: center;
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 30px rgba(0, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.weather-card h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #00ffff;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #aaa;
}

input {
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin-bottom: 12px;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: #fff;
  transition: 0.3s;
}

input::placeholder {
  color: #ddd;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #00c9ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #00b2e4;
}

.weather-result {
  margin-top: 20px;
  font-size: 16px;
  min-height: 70px;
  color: #fefefe;
}
